
body{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(18, 112, 112);
    justify-content: center;
    display: flex;
    height: auto;
    padding-top: 7%;
    padding-bottom: 7%;
    
   
}
input[type="text"],
input[type="email"],
input[type="checkbox"]
textarea {
  width: 50%; 
  padding: 5px 10px; 
  margin: 8px 0; 
  display: inline-block; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card{
    border: 5px white; 
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    width: 45%; 
    padding-left: 18px;
}
h2{
    color: crimson;
    justify-content: center;
    display: flex; 
}
.button{

    width: 15%; 
    padding: 5px 10px; 
    margin: 8px 0; 
}