body {
    margin: 0;
    font-family: cursive;
    background: url(./Images/back.webp) center/cover no-repeat fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    color: black;

}

main {
    border: 20px;
}

.button {
    padding: 8px;
    border: 15px;
    margin-left: 80px;
    margin-right: auto;
    background-color: blue
}

button:hover {
    opacity: 0.8;
}

.logo {
    margin-left: 90px;
    border-radius: 5px;
}

.card {
    border: 5px white;
    border-radius: 5px;
    background-color: white;
    padding: 30px;
}

.link {
    text-decoration: none;
    font-size: 80%;
    font-family: cursive;
}

.remember-box {
    margin-left: 2px;
}

.remember-label {
    font-size: 70%;
    font-family: cursive;
}